body {
  /*background color for the entire page*/
  background-color: #000000;
  color: #FFFFFF;
}

.topdiv {
  /*styling the top 'header' for the page*/
  text-align: center;
}

.boxdiv {
  /*the pink box with rounded corners div*/
  background-color: #FF99CC;
  border: solid;
  border-width: 1px;
  border-color: #FF99CC;
  margin: 0px 2px 15px 2px;
  padding: 0px 17px 5px 17px;
  border-radius: 25px;
  font-family: Verdana, italic;
}

.tablediv {
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: #FF99CC;
  border-width: 1px;
  padding-left: 5px;
  font-family: Verdana, italic;
  text-align: center;
}

.tablediv p {
  margin-top: 0px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1em;
}

img {
  width: 20em;
  height: 20em;
  border: solid;
  border-color: #FF99CC;
}

li {
  font-size: 1em;
}

table {
  margin: auto;
}